DATABASE_URL=postgres://postgres:postgres@localhost:5432/parameter 
SYNC=
CACHING=
IDL_PATH=../../idl/
PORT=5432
JWKS_URI=https://touching-tadpole-53.clerk.accounts.dev/.well-known/jwks.json
BROKEN_TOKEN=byJhbGciOiJSUzI1NiIsImtpZCI6Imluc18yU1cxY1gyb2s5b2ttSGl4bGZqcmlTSlV3bE4iLCJ0eXAiOiJKV1QifQ.eyJjcmVhdGVkX2F0IjoxNjg5MjU1NDQ1LCJkaXNwbGF5X25hbWUiOiJtdXJzYWxlZW4iLCJlbWFpbCI6Im11aGFtbWFkLm11cnNhbGVlbkB0ZW5vdm9zLmNvbSIsImV4cCI6MTY5MDI3MDUxNywiaWF0IjoxNjkwMjcwNDU3LCJpc3MiOiJodHRwczovL3RvdWNoaW5nLXRhZHBvbGUtNTMuY2xlcmsuYWNjb3VudHMuZGV2IiwianRpIjoiYWYzNjI0OThhN2QyMmY5NjUxOWIiLCJuYmYiOjE2OTAyNzA0NTIsInN1YiI6InVzZXJfMlNXSFc4bEN0UVBIbDQyVVFzZThXNE5ZZkFYIiwidXNlcl9pZCI6InVzZXJfMlNXSFc4bEN0UVBIbDQyVVFzZThXNE5ZZkFYIn0.tSvm9GGiG9eq-VQq7rdwENrj7hFjo23y-niTxtapfuuG-SiE6eac9_KB5FKrQEssZXnxZ_EZHuwduTVnQpRfL2mQ2bsUQ_pr_2U7UfQ-YG_zPBOfulccQBIwLzdn4moZ4o9gxitLtS2Y8Syv7V4lJ_LTRf8leCWu5ojUGpnrwZoEoEbFxT89iDhsK6O4Gl0wrG0IOD_nOhDxT9XnJULmGAobXX4O66rxqH6CsatdxWmo4pyBUy0HsqtpgKjpy3vBhW8T_HDztQetfBaj4fwLQQBH4fTAc_SRLjSeltkVQ3bO1Q9egUVD6RQ0Iv3PDqHNtbSDdw7vv4GPjGXntmG_Lg 
VALID_TOKEN=eyJhbGciOiJSUzI1NiIsImtpZCI6Imluc18yVFRtYVNoc3hFYzNOQlFZeWVvcFNOaTkxWHAiLCJ0eXAiOiJKV1QifQ.eyJkaXNwbGF5X25hbWUiOm51bGwsImVtYWlsIjoibW96YWlyLm1vaW5AdGVub3Zvcy5jb20iLCJleHAiOjIwMDY1MTc5MjIsImlhdCI6MTY5MTE1NzkyMiwiaXNzIjoiaHR0cHM6Ly9mb25kLXNhbG1vbi05Ni5jbGVyay5hY2NvdW50cy5kZXYiLCJqdGkiOiI0YjE3MTJmZjI5OGJjNDQ4Y2EwZiIsIm5iZiI6MTY5MTE1NzkxNywib3JnX2lkIjpudWxsLCJzdWIiOiJ1c2VyXzJUVnl0cUh5NExmWkpRcUxPVVRrT3ZTNktjRiIsInVzZXJfaWQiOiJ1c2VyXzJUVnl0cUh5NExmWkpRcUxPVVRrT3ZTNktjRiJ9.RfEvkgEhaF_YadKfQ2YEXrRvlGL6KfUyG-7P7coTPJkKGAfxRxCBsnVt8jVrrc5hpkoNh50ftmdq0xFmwx0-bobSEwxSrEJeXSlhigjrJ5LIUb9cA2iXXuS202fgFftcsXJ8t5Z2bzBRhsZDvyoipKYBpAqG_69pnLsstTBgc3AuKcC2aXk_afGj-rA8RcB2QpdejiyzqlHAoOJlD9Q06WjQGYtuQu9quwoeT2I2J3AMC2bdvu8IybZZTXuT_zkeq0O3b_MA0FHqrkHMO--EH5LncuMw_tmr1Y5kMG07oNVrYklkvB0lp-U_auZP4e9vJmyYHdfNVSHy6JXK0wFbEg